html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
img {
    display: block;
    width: 100%;
}
.lt_container {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding-top: 45px;
    padding-bottom:55px;
}
/* 头部 */
.lt_header {
    width: 100%;
    height: 45px;
    background-color: #006699;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 45px;
}
.lt_header .icon_left,
.lt_header .icon_right {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.lt_header .icon_left {
    left: 0;
}
.lt_header .icon_right {
    right: 0;
}
.lt_header h3 {
    text-align: center;
    line-height: 45px;
    margin: 0;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
}
.lt_footer {
    width: 100%;
    height: 55px;
    background-color: #006699;
    position: absolute;
    left: 0;
    bottom:0; 

}
.lt_footer li {
    float: left;
    width: 25%;
    text-align: center;
}
.lt_footer li a {
    display: block;
    color: #fff;
    padding-top: 8px;

}
.lt_footer li a p {
    margin: 0;
    color: #fff;
}
.lt_footer li a.current {
    color:orange;
}
.lt_footer li a.current p {
    color: orange;
}
.lt_body {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 公共搜索框 */
.lt_search {
    padding: 10px;
    position: relative;
  }
  .lt_search .search_input {
    height: 34px;
    font-size: 12px;
    margin: 0;
    border:1px solid #479FFF;
    border-radius: 10px;
  }
  .lt_search .search_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0 5px 5px 0;
  }

  /* 公共产品模块 */
  .lt_product {
      padding: 10px;
      text-align: center;

  }
  .lt_product_item {
      float: left;
      width: 48%;
      padding: 10px;
      border:1px solid #ccc;
      margin-bottom: 15px;
  }
  .lt_product_item:nth-child(odd){
      margin-right: 4%;
  }
  .lt_product_item .price {
    color: #e92322;
  }
  .lt_product_item .oldPrice {
    text-decoration: line-through;
  }