/* 导航区域 */
.lt_nav {
    padding: 10px;
}
.lt_nav li {
   float: left;
   width: 33.3%;

}
.lt_nav li a {
    display: block;
}
/* 产品区域 */
.lt_product {
    padding: 10px;
    text-align: center;
}
.lt_product_item {
    float: left;
    width: 48%;
    padding: 10px;
    border:1px solid #ccc;
    margin-bottom: 15px;
}
.lt_product_item:nth-child(odd) {
    margin-right: 4%;
}
.lt_product_item a .price {
    color: red;
}
.lt_product_item a .oldPrice {
    text-decoration: line-through;
}